.HealthPnl{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.8);
    width:200px;
    padding : 5px;
    left : 20px;
    bottom: 20px;
    text-shadow: 0 0 5px black;
    align-items : center;
    justify-content : center;
    border: 1px solid red;
    border-radius : 15px;
}

.HealthLbl{
    font-size:32px;
}